body {
  font-family: 'Montserrat', sans-serif;
  background: #eceded;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 600;
  /* font-size: 24px;
  line-height: 1.17; */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title-colored {
  color: #fd9222;
}

.container {
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*------------ HEADER---------------- */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 90px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  /* margin-right: 90px; */
  /* justify-content: space-between; */
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-list {
  display: none;
  gap: 24px;
  /* margin-left: auto; */
}

.header-social-list {
  display: none;
  gap: 14px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  /* transition-property: color;
  transition-duration: 300ms;
  transition-delay: 1000ms;
  transition-timing-function:ease ; */
  transition: color 300ms linear, background-color 300ms linear;
  position: relative;
}

.header-menu-link:hover,
.header-menu-link:active,
.header-menu-link:focus {
  color: #fd9222;
  background-color: #1e1823;
}

.header-menu-link.current:after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #fd9222;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: -36px;
}

/* .header-menu-link:active {
  color: #fd9222;
}

.header-menu-link:focus {
  color: #fd9222;
} */

.header-social-icon {
  fill: transparent;
  stroke: #111111;
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1823;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 88px;
}

.mob-nav {
  display: flex;
  justify-content: center;
}
.mob-menu-list {
  margin-bottom: 50px;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
.current {
}
.mob-social-list {
  /* margin-top: auto; */
  display: flex;
  gap: 14px;
}
.mob-social-item {
}
.mob-social-link {
}
.mob-social-icon {
  fill: transparent;
  stroke: #ffffff;
}

/*------------ --------------------- */

/*------------ HERO---------------- */

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.2),
      rgba(46, 47, 66, 0.2)
    ),
    url(../images/hero-bg-mob.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  /* padding: 380px 40px 40px; */
  padding: 395px 20px 20px 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.2),
        rgba(46, 47, 66, 0.2)
      ),
      url(../images/hero-bg-mob-2x.jpeg);
  }
}

.hero-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-title {
  font-weight: 500;
  /* font-size: 28px; */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  border: none;
  /* padding: 14px 40px; */
  padding: 12px 16px;
  margin-right: 14px;
}

.hero-made-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  /* padding: 14px 40px; */
  padding: 12px 16px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 100px;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  /* margin-left: auto; */
  margin-top: 32px;
}

/*------------ --------------------- */

/*------------ BENEFITS---------------- */

.benefits {
  background-color: #1e1823;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 18px; */
  /* gap: 88px; */
  gap: 20px;
}

.benefits-item {
  padding-right: 28px;
  /* flex-basis: calc((100% - 2 * 88px) / 3); */
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*------------ --------------------- */

/*------------ TASTE---------------- */

.taste {
  padding-top: 120px;
  padding-bottom: 120px;
}
.taste-title {
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}

.taste-list {
}

.taste-item {
}

.taste-image {
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*------------ --------------------- */

/*------------ MADE---------------- */

.made {
  padding-top: 120px;
}
.made-title {
  /* margin-bottom: 50px; */
  margin-bottom: 32px;
}

.made-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.made-image {
}

.made-content {
  /* padding: 32px; */
  padding: 20px 14px;
  background-color: #ffffff;
  border-radius: 15px;
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  /* margin-bottom: 28px; */
  margin-bottom: 20px;
}
.made-list {
}
.made-item {
  /* margin-bottom: 24px; */
  margin-bottom: 18px;
}

.made-item:last-child {
  margin-bottom: 0;
}
.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*------------ --------------------- */

/*------------ PRODUCTS---------------- */

.products {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 80px;
  padding-bottom: 80px;
}

.products-title {
  /* margin-bottom: 50px; */
  margin-bottom: 22px;
}

.products-title::before {
  content: '';
  width: 40px;
  height: 40px;
  background-image: url(../images/loved-img-2.jpeg);
  background-size: cover;
  display: inline-block;
}

.products-title::after {
  content: '!';
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  /* gap: 24px 18px; */
  /* column-gap: 18px;
  row-gap: 24px; */
}

.products-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  /* width: calc((100% - 54px) / 4); */
  width: 100%;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.products-image {
  margin: 0 auto;
  margin-bottom: 8px;
}
.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}
.products-item-description {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.products-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
  padding: 8px 20px;
  border: 1px solid #c8c4c4;
  border-radius: 100px;
  background-color: #fafafa;
}

/*------------ --------------------- */

/*------------ SELLERS---------------- */

.sellers {
  padding-bottom: 120px;
}
.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}
.sellers-item {
  width: calc((100% - 32px) / 3);
  position: relative;
}

.sellers-item:hover .sellers-cover-text {
  transform: translateY(0);
}
.sellers-image {
}
.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding: 28px 0;
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-cover-text {
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fafafa;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  height: 100%;
  border-radius: 15px 15px 0 0;
  padding: 0 40px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

/*------------ --------------------- */

/*------------ REVIEWS---------------- */

.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 90px;
}

.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}
.reviews-item {
  width: calc((100% - 56px) / 3);
  padding: 56px 24px 24px 24px;
  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  position: relative;
}
.reviews-image {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.reviews-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}
.reviews-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  display: block;
  margin: 0 auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
}

/*------------ --------------------- */

/*------------ FOOTER---------------- */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 300px;
  margin-right: auto;
}

.footer-top {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}

.footer-soc {
  margin-right: 50px;
}

.footer-subtitle {
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}
.footer-social-list {
  display: flex;
  gap: 14px;
}
.footer-social-item {
}
.footer-social-link {
}

.footer-social-icon {
  fill: transparent;
  stroke: #ffffff;
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-navigation {
}
.footer-menu-list {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-form {
  display: flex;
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  width: 313px;
  height: 52px;
  padding: 0 24px;
  background-color: transparent;
  color: #ffffff;
}

.footer-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}
.footer-form-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 17px 32px;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  margin-left: 8px;
}
/*------------ --------------------- */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 24, 35, 0.452);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  width: 517px;
  min-height: 794px;
  background-color: #fafafa;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
}

.modal-title {
  text-align: left;
  max-width: 298px;
  margin-bottom: 40px;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-input {
  width: 100%;
  height: 68px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  background-color: transparent;
  outline: transparent;
  padding-left: 62px;
  color: aqua;
  position: relative;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.modal-input::placeholder {
  color: #fd9222;
}

.modal-btn:disabled {
  background-color: #1e1823;
}
/* 
.modal-input:valid {
  background-color: rgba(21, 255, 0, 0.435);
}

.modal-input:invalid {
  background-color: rgba(255, 47, 0, 0.435);
} */

.modal-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-field-wrap {
  position: relative;
}

.modal-icon {
  fill: transparent;
  stroke: #111111;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-text {
  width: 100%;
  height: 137px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  background-color: transparent;
  outline: transparent;
  padding: 22px 24px;
  color: aqua;
  resize: none;
}

.modal-btn {
  display: block;
  margin: 0 auto;
}

.modal-check-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
  position: relative;
}

/* .modal-check-text::before {
  content: '';
  width: 40px;
  height: 22px;
  border-radius: 50px;
  border: 1px solid #fd9222;
  margin-right: 10px;
  transition-duration: 300ms;
}

.modal-check-text::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fd9222;
  transition-duration: 300ms;
}

.modal-check:checked + .modal-check-text::after {
  transform: translate(18px);
  background-color: #ffffff;
}

.modal-check:checked + .modal-check-text::before {
  background-color: #fd9222;
} */

.modal-check-text span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .modal-check-text span {
  background-color: #fd9222;
  border: none;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .made .container {
    width: 678px;
  }

  .title {
    font-size: 24px;
    line-height: 1.17;
  }

  .hero {
    padding-bottom: 40px;
  }

  .hero-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.2),
        rgba(46, 47, 66, 0.2)
      ),
      url(../images/hero-bg-tab.jpeg);
    padding: 670px 40px 40px 40px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.2),
          rgba(46, 47, 66, 0.2)
        ),
        url(../images/hero-bg-tab-2x.jpeg);
    }
  }

  .hero-title {
    font-size: 28px;
  }

  .hero-btn,
  .hero-made-link {
    padding: 14px 40px;
  }

  .hero-scroll-link {
    margin-left: auto;
    margin-top: unset;
  }

  .benefits {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .benefits-list {
    gap: 44px 88px;
  }

  .benefits-item {
    padding-right: 0;
    width: calc((100% - 88px) / 2);
  }

  .made-content {
    padding: 32px;
  }

  .made-subtitle {
    margin-bottom: 28px;
  }

  .products {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .products-title {
    margin-bottom: 50px;
  }

  .products-list {
    gap: 32px;
  }

  .products-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .made .container {
    width: 1166px;
  }

  .hero {
    padding-bottom: 80px;
  }

  .hero-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.2),
        rgba(46, 47, 66, 0.2)
      ),
      url(../images/hero-bg.jpeg);
    padding-top: 380px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.2),
          rgba(46, 47, 66, 0.2)
        ),
        url(../images/hero-bg-2x.jpeg);
    }
  }

  .benefits-list {
    padding: 0 18px;
  }

  .benefits-item {
    width: calc((100% - 2 * 88px) / 3);
  }

  .made-wrap {
    flex-wrap: nowrap;
  }

  .made-title {
    margin-bottom: 50px;
  }

  .made-item {
    margin-bottom: 24px;
  }

  .products {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .products-list {
    gap: 24px 18px;
  }

  .products-item {
    width: calc((100% - 54px) / 4);
  }

  .made-wrap picture {
    flex-shrink: 0;
  }
}
